@media print {
	#non-printable { display: none; }
	#printable { display: block; }

}
@page { margin: 0; }
@media print {
	@font-face {
		font-family: 'Kalpurush';
		src: url('http://static.ioritro.com/font/kalpurush.eot');
		src: url('http://static.ioritro.com/font/kalpurush.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Kalpurush.ttf')  format('truetype'),
		url('http://static.ioritro.com/font/kalpurush.svg#svgFontName') format('svg');
	}
	#non-printable { display: none !important; }
	body{
		background-color: unset;
		background-repeat: no-repeat;
		background-attachment: fixed;
		width: 100%;
		height: auto;
		color: #000;
		font-weight: 700;
	}
	body img{
		position: absolute;
		margin-top: -30pt;
		margin: 0 auto;
	}
	.wrapeer{
		width: 100%;
		height: auto;
		margin: 0 auto;
		font-weight: 700;
		font-size: 22pt;
		color: #000;
		position: relative;
	}
	.header{
		width: 500px;
		margin: 0 auto;
		margin-top: 40pt;
	}
	.header p{
		font-weight: 700;
		font-size: 16pt;
		text-align: center;

	}
	.header h1{
		font-weight: 700;
		font-size: 20pt;
		text-align: center;
		margin-top: 5%;
	}
	.header h1 img{
		margin-left: 20%;
	}
	.header h2{
		font-weight: 700;
		font-size: 20pt;
		text-align: center;
	}
	.main-body{
		width: 95%;
		margin: 0 auto;
	}
	.main-body p{
		font-weight: 700;
		font-size: 15pt;
		text-align: center;
		line-height: 1.7em;

	}
	.main-body h4{
		font-weight: 700;
		font-size: 20pt;
		text-align: center;

	}
	.main-body p span{
		border-bottom: 2px dashed black;
		margin-left: 30px;
		padding-right: 50px;
		text-align: center;
	}

	.left{
		float: left;
		width: 40%;
		margin-left: -8%;
	}
	.right{
		float: left;
		width: 25%;
	}
	.signature{
		float: right;
		width: 35%;
	}
	.signature p{
		text-align: left;
	}
	.number_box{
		float: right;
		width: 200px;
		height: 40px;
		border: 1px solid#000;
		margin-top: 2pt;
	}
	.number_box p{
		margin-top: 5pt;
	}
}
@page {
	size: auto;   /* auto is the initial value */
	margin: 0 auto;  /* this affects the margin in the printer settings */
}

