<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div id="signupbox" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Asset</div>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
</body>
</html>